services:
  secure-file-viewer:
    image: ghcr.io/farismnrr/secure-file-viewer:latest
    container_name: secure-file-viewer
    ports:
      - "3000:3000"
    env_file:
      - .env
    volumes:
      - ./data:/app/data
      - ./storage:/app/storage
    restart: unless-stopped

